.me-auto.my-2.my-lg-0{
  max-height: 100px;
}
.contenedor_bot
{
  display: flex;
  gap: 10px;
  margin-right: 10px;
}
.d-flex
{
    margin-right: 20px;
}
.layers{
    margin-top: 1rem;
    height: 90px;
    margin-bottom: 2rem;
    text-align: center;
}
.gr1{
    height: 90px;
    text-align: left;
}
.img4{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.imag1 {
    width: 100%;
    height: 290px;
    object-fit: cover;    /* Recorta sin deformar la img*/
    transition: transform 0.3s ease;
    border-radius: 10px;
  }

  .imag1:hover {
    transform: scale(1.05);
  }

.carrusel{
    display: flex;
    gap: 10px;
    text-align: center;
    /* padding-right: 5rem; */
    /* position: relative; */
}
.nav-brand{
    border-radius: 40px;
}
.conteItemsCarrusel{
    background-color: rgb(104, 252, 104);
    /* height: 280px; */
    /* overflow: hidden; */
}
.carrusel2{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 2rem;
    /* padding-right: 5rem; */
    /* position: relative; */
}
.pd{
    text-align: center;
}
hr {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.footer-logo{
    border-radius: 80px;
    align-items: center;
}


.producto-card {
    position: relative;
    background: white;
    text-align: center;
    border-radius: 8px;
    height: 270px;
  }
  .nuevo{
    background: rgb(36, 91, 255);
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .popular{
    background: rgb(56, 223, 23);
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }
  
  .desct {
    background: red;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .agotado {
    background: white;
    position: absolute;
    margin-top: 160px;
    margin-left: 10px;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .VenCar{
    position: absolute;
    top: 160px;
    right: 10px;    
    color: white;
  } 

  .ImagProd{
    width: 100%;
    height: 200px;
  }

  .descrip{
    font-weight: 500px;
  }

  .oferta{
    font-weight: bold;
    color: red;
  }

  .Precio{
    text-decoration: line-through;
    color: rgb(27, 27, 27);
    font-size: 14px;
    margin-left: 5px;
  }

  .text{
    margin-top: 2rem;
    text-align: center;
  }

  .pre{
    color:rgb(27, 27, 27);
  }

  .carruselPuntos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
  }
  
  .puntos {
    display: flex;
    gap: 9rem;
  }
  
  .punto {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
  }
  
  .flechas {
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
  }

  .btModal {
    position: absolute;
    top: 160px;
    right: 10px;
  }
