.contenedor_botones
{
    width: 2%;
    display: flex;
    gap: 10px;
    margin-right: 10px;

}
.d-flex
{
    margin-right: 20px;
}
.layers{
    margin-top: 1rem;
    height: 75px;
    text-align: center;
}
.gr1{
    height: 75px;
    text-align: left;
}
.img4{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.imag1 {
    width: 100%;
    height: 290px;
    object-fit: cover;    /* Recorta sin deformar la img*/
    transition: transform 0.3s ease;
    border-radius: 10px;
  }

  .imag1:hover {
    transform: scale(1.05);
  }

.carrusel{
    display: flex;
    gap: 10px;
    text-align: center;
    /* padding-right: 5rem; */
    /* position: relative; */
}
.nav-brand{
    border-radius: 40px;
}
.conteItemsCarrusel{
    background-color: rgb(104, 252, 104);
    /* height: 280px; */
    /* overflow: hidden; */
}
.carrusel2{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 2rem;
    /* padding-right: 5rem; */
    /* position: relative; */
}
.pd{
    text-align: center;
}
hr {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
  }
.footer-logo{
    border-radius: 80px;
    align-items: center;
}


.producto-card {
    position: relative;
    background: white;
    text-align: center;
    border-radius: 8px;
    height: 230px;
  }
  
  .imagen-producto {
    width: 100%;
    height: 150px;
    background: #eee;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .nuevo{
    background: rgb(36, 91, 255);
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
  }
  
  .desct {
    background: red;
    position: absolute;
    margin-top: 40px;
    margin-left: 10px;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
  }

