.opciones-lis{
    background-color: aqua;
    display: flex;
    flex-direction: column ;
    gap: 15px;
}
.conten{
    background-color: aliceblue;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    padding:20px 80px;

}
.opciones{
    display: flex;
    align-items: center;
    
}