/* Estilos para la sección de Inicio */
.inicio-container {
  padding: 20px;
  text-align: left;
  margin-left: 10px;
}
.inicio-container p{
  font-size: 25px;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 300;
}

.form-container1 {
  max-width: 800px;
  
}

.form-floating,
.input-group {
  margin: 10px 0;
  width: 100%;
}
.form-floating,
.input-group,
.btn {
  margin-top: 10px;
}

.btn-success {
  background-color: #468512;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}