
.im{
    width:70%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 2rem;
}
.modal-content{
    background-color: aquamarine;
    height: 600px;
    max-height: none;
    height: 515px;
}
.modal-dialog.modal-dialog-centered{
    width: 4000px;
    max-width: 1000px;
}
.imagencitas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
    gap:10px;
}
.img{
    max-width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 40px;
}
.Cont1{
    display: flex;
    align-items: start;
}
.Cont2{
    width: 50%;
}
.modal-footer{
    width: 780px;
    gap: 20px;
}
.btn.btn-success{
    width: 250px;
    padding: 10px;
}
.btn.btn-outline-secondary{
    width: 250px;
    padding: 10px;
}