.nav-Link{
    margin-left: 20px;
}
.form1{
    margin: 15% 15%;
    background-color: rgb(239, 247, 242);
    border-radius: 10px;
    border: 1px solid black;
}
.form-control{
    color: rgb(21, 231, 108);
}
.btn-primary{
    align-items: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 79%;
    -webkit-tap-highlight-color: transparent;
}
element.style {
    background-position: 20px;

}