*{
  margin: auto;
}
.d-flex{
    background-color: rgba(96, 238, 96, 0.445);
}
.container-fluid{
  background-color: rgb(21, 231, 108);
  font-size: 15px;
}
.nav-brand{
  width: 60px;
}
.nav-link{
  margin-left: 20px;
}