body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contenedor{
    width: 100%;
    height: auto;
}
#container{
    width:40%;
    height: 200px;
    margin: auto; 
    background-color: rgb(188, 188, 240);
    margin-top: 1rem;
    border: 1px;
}
#separacion{
    display: flex;
    gap: 1%;
}
#container1{
    width:80%;
    margin: auto; 
    background-color: rgb(188, 188, 240);
    margin-top: 1rem;
    border: 1px;
}
#container1 h3{    
    background-color: rgb(237, 243, 237);
}
#container1 p{
    background-color: rgb(42, 149, 211);
}
.btn-group {
    margin-top: 10px;

}
#container3{
    width:30%;
    height: 200px;
    margin: auto; 
    background-color: rgb(188, 188, 240);
    margin-top: 1rem;
    border: 1px;
}