/*ENCABEZADO*/
.d-flex{
      background-color: rgba(96, 238, 96, 0.445);
}
.container-fluid{
    background: linear-gradient(90deg, rgba(5, 143, 28, 0.74) 10%, rgba(28, 221, 3, 0.842) 50%, rgba(0, 248, 41, 0.979) 70%, rgba(8, 236, 168, 0.74) 100% ); 
    font-size: 15px;
}
.nav-brand{
    width: 60px;
}
.nav-link{
    margin-left: 20px;
}

/*-----------------------------------------------------------------------------------*/

/*CARRUCEL*/
.carousel-custom-width{
    width: 100%;
    margin: auto;
}
.carousel-img-full{
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .carousel-img-full{
        height: 60vh;
    }
}
/*-----------------------------------------------------------------------------------*/

/* card */
.titulo{
    text-align: center;
}

.confi{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    gap: 10px;
}
.btn btn-info{
    display: flex;
    width: 50px;
    left: 30px;
    right: 40%;
    justify-content: center;
}
.boton{
    margin-top: 10px;
    text-align: center;
}