.carusel{
    margin-top: 40px;
    width:auto;
    margin-left: 40px;
    margin-right: 40px;
}
.Unon{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    max-width: 2000px;
    flex-direction: column;
}
.row .Unon{
    max-width: 2000px;
}
.rousito{
    
    gap: 30px;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    margin: auto !important;
}
