.ImagPro{
    height: 230px;
    width: 100%;
    display:flex ;
    justify-content: center;
}
.Unopro{
    justify-content: center;
    display: flex;
    grid-column: auto;
    gap: 60px;
    margin-top: 30px;
    max-width: 20000px;
}