.Uno{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 30px;
    grid-template-columns: auto;
    padding: 10px 10px;
}
.ImagPro{
    width: 240px;
    height: 200px;
    
}
.lor{
    display:flex;
    justify-content: initial;
}